body{
    padding: 0;
    margin: 0;
    background-color: #b7aeff;
    display: flex;
    flex-direction: column;
    font-family: 'Roboto', sans-serif;
    /*height: 100vh;*/
    /*overflow: hidden;*/
}


#container{
    background-color: #ff24ea;
    display: flex;
    flex: 1 1 auto;
    flex-direction: column;
    /*height: 100vh;*/
}

header{
    background-color: #000000;
    /*width: 100%;*/
    height: 60px;
    display: flex;
    justify-content: space-between;  /*puts Weblab at start and icons at end*/
}

h1{
    color: #fff;
    font-size: 25px;
    /*padding-top: 10px;*/
    padding-left: 70px;
    float: left;
    /*margin: 0;*/
}

#icons{
    /*float: right;*/
    padding-top: 15px;
    padding-right: 70px;
    /*flex: 0 0 auto;*/
}

#icons img{
    padding: 10px;
}

#navbar{
    background-color: #3b3b3b;
    display: flex;
    justify-content: space-between;
    padding-left: 10px;
    padding-right: 10px;
}

ul, li{
    list-style-type: none;
    margin: 0;
    padding: 0;
}
li{
    float: left;
    display: inline;
    background-color: #3b3b3b;
}
ul:after{   /*sometimes uses :: but not all browsers recognize it insert after ul*/
    /*need to do this to identify the ul because we are using a float*/
    content: "";
    clear: both;
    height: 0;
    width: 0;
    display: block;
}
li a {
    display: block;      /*Display link as a block to make area clickable*/
    background-color: #3b3b3b;
    color: #fff;
    /*width: 100%;*/
    /*height: 20px;*/
    font-size: 15px;
    text-decoration: none;  /*removes underline from link*/
    padding: 8px;     /*padding around link*/
}

li a:hover{
    background-color: #000;
}

#hero{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
    /*flex: 1 1 auto;*/
    flex-direction: column;
    background: url("https://unsplash.it/1000/460images?image=974");
    background-size: 100% 100%;
}

#newWebsite{
    color: #fff;
    font-family: 'Roboto', sans-serif;
    font-size: 45px;
    padding-left: 70px;
    float: left;
}

#signUp{
    color: #fff;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    padding-left: 70px;
    float: left;
}

#emailBox{
    color: #fff;
    font-family: 'Roboto', sans-serif;
    font-size: 25px;
    padding-left: 70px;
    float: left;
}

#box{
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    padding: 10px;
}

#findOut{
    color: #fff;
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    padding-left: 70px;
    padding-top: 20px;
    float: left;
}

#subscribe{
    color: #fff;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    padding: 15px;
    background-color: #000000;
}

#content{
    background-color: #ffffff;
    color: #000;
    /*font-size: 8px;*/
    font-family: 'Roboto', sans-serif;
    padding-left: 70px;
    padding-right: 60px;
}

#left{
    -moz-columns: 2;
    -webkit-columns: 2;
    column-count: 2;
}

#explore{
    font-size: 12px;
}

#organize{
    font-size: 12px;
}

#right{
    -moz-columns: 2;
    -webkit-columns: 2;
    column-count: 2;
}

#description{
    font-size: 12px;
}

#disclaimer{
    font-size: 12px;
}

#pictures{
    display: flex;
    flex-wrap: wrap;
}

#plans{
    background-color: #ffffff;
    text-align: center;
    font-size: 25px;
    padding: 25px;
}

#recommended{
    background-color: #ffffff;
    text-align: center;
}

#recommended button{
    background-color: #b7aeff;
    color: #ffffff;
    border: none;
    width: 180px;
}

.thumbnails {
    overflow: hidden;
    background-color: #ffffff;
    display: flex;
    align-content: center;
}

.box{
    display: flex;
    justify-content: space-between;
    padding-left: 100px;
    padding-right: 100px;
    background-color: #ffffff;
    float: left;
    flex-wrap: wrap;
}

.box1{
    display: flex;
    width: 350px;
    height: 150px;
    background-color: lightgray;
}

.box2{
    display: flex;
    width: 330px;
    height: 150px;
    background-color: lightgray;
    padding-left: 10px;
    padding-right: 10px;
}

.box3{
    display: flex;
    width: 350px;
    height: 150px;
    background-color: lightgray;
}

.galleryItem{
    padding-right: 100px;
    padding-left: 100px;
}

.galleryItem button{
    background-color: #000000;
    color: #ffffff;
    border: none;
    width: 350px;
    padding-left: 100px;
    padding-right: 100px;
}

#map{
    display: flex;
}